.home-page {
    padding-top: 20px;
    .logo {
        width: 200px;
        height: 200px;
    }
    .content {
        width: 450px;
        display: flex;
        flex-direction: row;
        background: white;
        height: 200px;
    }
    .main-content {
        text-align: left;
        flex-grow: 1;
        padding-top: 20px;
        padding-left: 50px;
        a {
            margin-bottom: 10px;

        }
    }
}